.container1 {
    font-family: 'Times New Roman', Times, serif;
    color:firebrick;
    background-color: aqua;
}
.container {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    background-color: orchid;
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:navy;
    background-color: blueviolet;
}